@page
@model Challenge03.Pages.Cards.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Historia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Assinatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Baralho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Classe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Elemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].SP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Forca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Defesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Agilidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Inteligencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Card) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Historia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assinatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baralho.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agilidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inteligencia)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
